# virtual envs
venv/

# precompiled files
*pyc

# Ide files
.vscode/

# Python cache
__pycache__/

# Code coverage
.coverage

# Env local variables
.env

# TODO DECOMMENT DELETE THIS IGNORE
flask_app/